@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  vertical-align: bottom;
}
body {
  background-color: #E7F8F2;
}
h1, h2, h3, h4, h5 {
  font-family: 'Noto Sans TC','Open Sans', sans-serif;
  margin-bottom: 20px;
}
p {
  font-family: 'Noto Sans TC','Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 0;
}
#ld-nav{
  background-color: #99BCD0;
  padding: 0 5px;
}
#nav-drop {
  background-color: #99BCD0;
}
#nav-drop a:hover {
  background-color: rgb(255, 215, 210);
}
#gp-banner {
  margin-bottom: 200px;
  position: relative;
}
#banner-img img{
  width: 500px;
}
#banner-tx {
  /* position: absolute;
  right: 0;
  bottom: -30%; */
}
.collapse .navbar-nav .nav-item:hover {
  background-color: rgb(255, 215, 210);
  box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
  transition: ease 0.5s;
}
.collapse .navbar-nav .nav-item:hover a {
  color: #000;
  transition: ease 0.3s;
}
#gp-fate {
  background-color: #1b2c37;
  /* position: relative; */
}
#fate-img {
  position: relative;
}
.flip-card {
  background-color: transparent;
  width: 258px;
  height: 366px;
  perspective: 1000px;
  position: absolute;
  top: -50%;
  left: 10%;
  padding: 0;
  cursor: pointer;
  border-radius: 5px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 30px 30px 50px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front {
  border-radius: 5px;
  background-color: #2C3E45;
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-back {
  border-radius: 5px;
  background-color: #2C3E45;
  color: white;
  transform: rotateY(180deg);
}
#fate-tx {
  padding: 30px 50px;
}
#fate-tx h3, #fate-tx p {
  color: #cddfea;
}

#fate-links {
  flex-direction: row;
  padding-left: 0;
}
#fate-links li {
  margin: 5px 10px;
  padding: 10px 20px;
  border-radius: 22px;
  background-color: #1b2c37;
  box-shadow: 4px 4px 8px rgba(0,0,0, 0.8),
              -4px -4px 8px rgba(255,255,255, 0.1);
  cursor: pointer;
}
#fate-links li:hover p{
  color: aqua;
}
#fate-links li:active{
  box-shadow: inset 4px 4px 8px rgba(0,0,0, 0.8),
              inset -4px -4px 8px rgba(255,255,255, 0.1);
}
#fate-links p {
  margin-bottom: 0;
}
#gp-chance {
  background-color: #F8E5DF;
  height: 50vh;
}
#chance-img {
  position: relative;
}
#chance-tx {
  order: -1;
}
#chance-img img {
  /* position: absolute; */
  /* bottom: -70%; */
  /* left: 30%; */
  /* z-index: 1; */
}
.chance-flip-card {
  background-color: transparent;
  width: 258px;
  height: 366px;
  perspective: 1000px;
  position: absolute;
  bottom: -30%;
  z-index: 1;
  padding: 0;
  cursor: pointer;
  border-radius: 10px;
}
.chance-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 10px;

  box-shadow: 30px 30px 50px 0 rgba(0,0,0,0.2);
}
.chance-flip-card:hover .chance-flip-card-inner {
  transform: rotateY(180deg);
}
.chance-flip-card-front {
  border-radius: 5px;
  background-color: #F8E5DF;
}
.chance-flip-card-front, .chance-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.chance-flip-card-back {
  border-radius: 5px;
  background-color: #F8E5DF;
  color: white;
  transform: rotateY(180deg);
}
#chance-tx {
  padding: 50px 50px 0px;
}
#chance-tx a {
  text-decoration: none;
  color: #aaa;
  background-color: #F8E5DF;
  border: none;
  padding: 10px 20px;
  border-radius: 22px;
  box-shadow: 4px 4px 8px rgba(0,0,0, 0.1),
              -4px -4px 8px rgba(255,255,255, 1);
  cursor: pointer;
}
#chance-tx a:hover {
  background-color: #FFB6C1;
  color: #fff;
}
#chance-tx a:active {
  box-shadow: inset 4px 4px 8px rgba(0,0,0, 0.1),
              inset -4px -4px 8px rgba(255,255,255, 1);
}
#gp-services {
  margin-top: 80px;
  margin-bottom: 100px;
}
.card-service {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  background-color: #E7F8F2;
  box-shadow: 3px 3px 6px rgba(0,0,0, 0.2),
              -3px -3px 6px rgba(255,255,255, 1);
  align-items: center;
  max-width: 300px;
}
.card-service img {
  max-width: 100px;
  padding: 20px 0 0;
}
.card-service .card-body a {
  color: #000;
  padding: 7px 15px;
  border-radius: 22px;
  background-color: #E7F8F2;
  box-shadow: 3px 3px 6px rgba(0,0,0, 0.2),
              -3px -3px 6px rgba(255,255,255, 1);
}
.card-service .card-body a:hover {
  color: #fff;
  background-color: #87CEEB;
}
#gp-feedback {
  margin-bottom: 100px;
}
#fd-item {
  background-color: #F8E5DF;
  margin: 30px 0;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}
#fd-img {
  padding: 30px 0;
  background-color: #99BCD0;
}
#fd-avatar {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
}
#fd-tx {
  padding: 20px;
}
.carousel-indicators {
  bottom: -30%;
}

#gp-subscribe {
  background-color: #1b2c37;
  /* height: 50vh; */
  padding: 50px 20px;
}
#subscribe-form {
  background-color: #1b2c37;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 4px 4px 8px rgba(0,0,0, 0.8),
              -4px -4px 8px rgba(255,255,255, 0.1);
}
#subscribe-form label {
  color: #cddfea;
}
#subscribe-form button {
  border: none;
  color: #cddfea;
  margin: 5px 10px;
  padding: 10px 20px;
  border-radius: 22px;
  background-color: #1b2c37;
  box-shadow: 4px 4px 8px rgba(0,0,0, 0.8),
              -4px -4px 8px rgba(255,255,255, 0.1);
}
#subscribe-form button:hover {
  color: aqua;
}
#subscribe-form button:focus {
  outline: none;

}
#subscribe-form button:active{
  outline: none;
  box-shadow: inset 4px 4px 8px rgba(0,0,0, 0.8),
              inset -4px -4px 8px rgba(255,255,255, 0.1);
}
#subscribe-form input {
  outline: none;
  border: none;
  color: rgb(235, 183, 135);
  background-color: #2b475a;
  box-shadow: inset 3px 3px 5px rgba(0,0,0, 0.8),
              inset -3px -3px 5px rgba(255,255,255, 0.1);
}

#subscribe-tx h3, #subscribe-tx p {
  color: #cddfea;
}

#ld-footer {
  background-color: #99BCD0;
  height: 30px;
}